<!DOCTYPE HTML >

<html>

<head>
  <title>{% block title %}Transfers in Copenhagen{% endblock title %}</title>

    <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/bootstrap/bootstrap-select.min.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/static/umsteigen/favicon.ico">

	<!-- meta stuff -->
	<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
	<meta http-equiv="Content-Script-Type" content="text/javascript">
	<meta http-equiv="Content-Style-Type" content="text/css">
	<meta http-equiv="expires" content="0">
	<meta http-equiv="language" content="EN">
	<meta name="robots" content="{% block metarobots %}all{% endblock metarobots %}">
  <meta name="description" content="{% block metadescription %}Which carriage should I board on Copenhagen's public transit to transfer best?{% endblock metadescription %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
	<!-- end meta -->
    
	<script src="/static/bootstrap/jquery.min.js"></script>
	<script src="/static/bootstrap/bootstrap.min.js"></script>
	<script src="/static/bootstrap/bootstrap-select.min.js"></script>
    
    <link rel="stylesheet" href="/static/umsteigen/styles.css">


</head>
	
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
    <span class="sr-only">Navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>
    <a href="{% url 'index' %}" class="pull-left" style="margin: 5px"><img alt="" src="/static/umsteigen/skiftsmart.png" height="40"></a>
    <a class="navbar-brand" href="{% url 'index' %}">Skift i København <span class="label label-warning" style="font-variant: small-caps;">beta</span></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
  <li><a href="{% url 'line_list' %}">Lines</a></li>
  <li><a href="{% url 'station_list' %}">Stations</a></li>
  <!-- <li><a href="{% url 'contact' %}">Contact</a></li> -->
    </ul>
    </div><!--/.nav-collapse -->
    </div>
</nav>


<div class="container">

<div class="page-header">
  <h1>{% block titleh1 %}Transfers in Copenhagen{% endblock titleh1 %}</h1>
</div>

{% if station_list %}
<p>
<select class="selectpicker" data-live-search="true" title="Transfer station" onchange="location = this.options[this.selectedIndex].value;">
<option></option>
{% for station in station_list %}
  <option value='{% url 'station_detail_name' station.url_name %}'>{{ station }}</option>
{% endfor %}
</select>
</p>
{% endif %}

<p>
{% block content %} no content available {% endblock content %}
</p>




<br>
</div> <!--/container -->

</body>
</html>


<style type="text/css">
<!--
/* Sticky footer styles, needs to stay in the main html at the end of the page!
----------------------------------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
  /* padding top for fixed navbar */
  padding-top: 20px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f5f5f5;
}

-->
</style>


