{% extends "umsteigen/base.html" %}

{% block title %}Contact for transfers with Copenhagen's public transit{% endblock %}
{% block titleh1 %}Contact{% endblock %}
{% block metadescription %}Which carriage should I board on Copenhagen's public transit to transfer best? -- Contact and questions{% endblock %}

{% block content %}
<p>
Which carriage should I board on Copenhagen's public transit to transfer best? <br>
This project is inspired by and based on the original <a href="https://umsteigen-in-berlin.de" target="_blank">umsteigen-in-berlin.de</a> by Paul Führing.
So far, <a href="{% url 'line_list' %}">{{ line_counter }} lines</a> have been entered with <a href="{% url 'station_list' %}">{{ station_counter }} transfer stations</a> and {{ change_counter }} transfer tips.
</p>
<p>
 Possible extensions:
<ul>
<li>Where are elevators?</li>
<li>Transfers to bus?</li>
<li>Regional trains?</li>
<li>...</li>
</ul>
</p>

{% endblock %}
