{% extends "umsteigen/base.html" %}

{% block title %}Transfers with Copenhagen's Public Transport{% endblock %}
{% block titleh1 %}Transfers with Copenhagen's Public Transport{% endblock %}

{% block content %}
<p>
Which carriage should I board on Copenhagen's public transport to transfer most efficiently?! <br>
So far, <a href="{% url 'line_list' %}">{{ line_counter }} lines</a> have been entered with <a href="{% url 'station_list' %}">{{ station_counter }} transfer stations</a> (of which {{ station_complete_counter }} are complete) and {{ change_counter }} transfer hints.
</p>
<p>
Last updated on {{ last_modified.updated_at|date:'Y-m-d' }} at {{ last_modified.updated_at|date:'H:i' }} at
<a href="{% url 'station_detail_name' last_modified.at.url_name %}">{{ last_modified.at.name }}</a>
{% for line in last_modified.at.lines.all %}<a href="{% url 'line_detail' line.id %}"><span class="{{ line.css }}">{{ line.name }}</span></a>{% endfor %}
</p>
<p>
Top Ten Contributors: 
<ul>
{% for c in contributions %}
<li style="list-style: none">&#x1F3C6; {{ c.name }} with {{ c.dcount }} contributions
{% endfor %}
</ul>
</p>
<p></p>
Adapted with thanks from the original work by <a href="https://umsteigen-in-berlin.de/" target="_blank" rel="noopener">Paul Führing</a>.
</p>
{% endblock %}
