{% extends "umsteigen/base.html" %}

{% block title %}Transfer with Copenhagen's public transit -- List of Lines{% endblock %}
{% block titleh1 %}List of Lines{% endblock %}

{% block content %}

Which carriage should I board on Copenhagen's public transit to transfer best? Please select a line:

    <ul class="list-group">
    {% for line in line_list %}
        <li class="list-group-item"><a href="{% url 'line_detail' line.id %}"><span class="{{ line.css }}">{{ line.name }}</span>{{ line.start.name }}
        {% if line.end is not None %}
            &harr; {{ line.end.name }}
        {% endif %}
        </a></li>
    {% empty %}
        <li class="list-group-item">No lines available.</li>
    {% endfor %}
    </ul>

{% endblock content %}
