{% extends "umsteigen/base.html" %}

{% block title %}Transfer on {{ line }} with Copenhagen's public transit{% endblock %}
{% block titleh1 %}Transfer {{ line }} {% endblock %}
{% block metadescription %}Which carriage should I board on Copenhagen's public transit to transfer best on {{ line }}?{% endblock %}


{% block content %}

<p>
Which carriage should I board on Copenhagen's public transit to transfer best on <a href="{% url 'line_detail' line.id %}"><span class="{{ line.css }}">{{ line }}</span></a> 
{{ line.start.name }}
{% if line.end is not None %}
    &harr; {{ line.end.name }}
{% endif %}
? Please select a transfer station:
</p>

{% if line.sequence_available %}
	<!-- select style -->
	<ul class="nav nav-tabs">
	  <li role="presentation" class="{{ tab_alpha }}"><a href="{% url 'line_detail' line.id %}">Alphabetical</a></li>
	  <li role="presentation" class="{{ tab_sequence }}"><a href="{% url 'line_detail' line.id 'sequence' %}">Order</a></li>
	</ul>
{% endif %}

    <ul class="list-group">
    {% for station in line_station_list %}
        <li class="list-group-item">
        {% if sequence and forloop.first %}
          <span class="{{ line.css_prefix }}_seq_first">&#9679;</span>
        {% endif %}
        {% if sequence and not forloop.first and not forloop.last %}
          <span class="{{ line.css_prefix }}_seq">&#9675;</span>
        {% endif %}
        {% if sequence and forloop.last %}
          <span class="{{ line.css_prefix }}_seq_last">&#9679;</span>
        {% endif %}
        {% if station.change_station %}
            {% if station.url_name != None %}
                <a href="{% url 'station_detail_name' station.url_name %}">{{ station.nice_name|safe }}</a>
            {% else %}
                <a href="{% url 'station_detail' station.id %}">{{ station.nice_name|safe }}</a>
            {% endif %}
        {% else %}
            {{ station.nice_name|safe }}
        {% endif %}
        {% if station.complete %}
            &#10004;
        {% endif %}
        {% if station.change_station %}
            <span class="badge">{{ station.count }}</span>
        {% endif %}
        </li>
    {% empty %}
        <li class="list-group-item">No stations available.</li>
    {% endfor %}
    </ul>
<p>
    <span class="badge">x</span> = Number of transfer information entries<br>
    &nbsp; &#10004; = Station complete
</p>
{% endblock content %}
