{% extends "umsteigen/base.html" %}

{% block title %}Transfer with Copenhagen's public transit -- List of Stations {% endblock %}
{% block titleh1 %}List of Stations{% endblock %}

{% block content %}
Which carriage should I board on Copenhagen's public transit to transfer best? Please select a station:
    <ul class="list-group">
    {% for station in station_list %}
        <li class="list-group-item">
        {% if station.change_station %}
          {% if station.url_name != None %}
            <a href="{% url 'station_detail_name' station.url_name %}">{{ station.nice_name|safe }}</a>
          {% else %}
            <a href="{% url 'station_detail' station.id %}">{{ station.nice_name|safe }}</a>
          {% endif %}
        {% else %}
          {{ station.nice_name|safe }}
        {% endif %}
        {% if station.complete %}
            &#10004;
        {% endif %}
        {% if station.change_station %}
            <span class="badge">{{ station.count }}</span>
        {% endif %}
        </li>
    {% empty %}
        <li class="list-group-item">No stations available.</li>
    {% endfor %}
    </ul>
<p>
    <span class="badge">x</span> = Number of transfer information entries<br>
    &nbsp; &#10004; = Station complete
</p>
{% endblock content %}
