{% extends "umsteigen/base.html" %}

{% block title %}Statistics for transfers with Copenhagen's public transit{% endblock %}
{% block titleh1 %}Statistics{% endblock %}

{% block content %}
<p>
Which carriage should I board on Copenhagen's public transit to transfer best? <br>
So far, <a href="{% url 'line_list' %}">{{ line_counter }} lines</a> have been entered with <a href="{% url 'station_list' %}">{{ station_counter }} transfer stations</a> and {{ change_counter }} transfer tips.
</p>

<h2>2018</h2>
<p>
Statistics since the end of October 2018 in Piwik<br>
<img class="img-responsive" src="/static/umsteigen/daily_usage_201810.png" border="0" alt="Statistics"><br>
<img class="img-responsive" src="/static/umsteigen/daily_usage_201809.png" border="0" alt="Statistics"><br>
<img class="img-responsive" src="/static/umsteigen/daily_usage_201808.png" border="0" alt="Statistics"><br>
<img class="img-responsive" src="/static/umsteigen/daily_usage_201807.png" border="0" alt="Statistics"><br>
<img class="img-responsive" src="/static/umsteigen/daily_usage_201806.png" border="0" alt="Statistics"><br>
<img class="img-responsive" src="/static/umsteigen/daily_usage_201805.png" border="0" alt="Statistics"><br>
<img class="img-responsive" src="/static/umsteigen/daily_usage_201804.png" border="0" alt="Statistics"><br>
<img class="img-responsive" src="/static/umsteigen/daily_usage_201803.png" border="0" alt="Statistics"><br>
<img class="img-responsive" src="/static/umsteigen/daily_usage_201802.png" border="0" alt="Statistics"><br>
<img class="img-responsive" src="/static/umsteigen/daily_usage_201801.png" border="0" alt="Statistics"><br>
</p>

<h2>2017</h2>
<p>
<img class="img-responsive" src="/static/umsteigen/daily_usage_201712.png" border="0" alt="Statistics"><br>
<img class="img-responsive" src="/static/umsteigen/daily_usage_201711.png" border="0" alt="Statistics"><br>
<img class="img-responsive" src="/static/umsteigen/daily_usage_201710.png" border="0" alt="Statistics"><br>
<img class="img-responsive" src="/static/umsteigen/daily_usage_201709.png" border="0" alt="Statistics"><br>
<img class="img-responsive" src="/static/umsteigen/daily_usage_201708.png" border="0" alt="Statistics"><br>
<img class="img-responsive" src="/static/umsteigen/daily_usage_201707.png" border="0" alt="Statistics"><br>
<img class="img-responsive" src="/static/umsteigen/daily_usage_201706.png" border="0" alt="Statistics"><br>
<img class="img-responsive" src="/static/umsteigen/daily_usage_201705.png" border="0" alt="Statistics"><br>
<img class="img-responsive" src="/static/umsteigen/daily_usage_201704.png" border="0" alt="Statistics"><br>
<img class="img-responsive" src="/static/umsteigen/daily_usage_201703.png" border="0" alt="Statistics"><br>
<img class="img-responsive" src="/static/umsteigen/daily_usage_201702.png" border="0" alt="Statistics"><br>
</p>


{% endblock %}
